# Python cache files
__pycache__/
**.pyc
*.py[cod]

# Python virtual environments
venv/
.venv/

# Python distribution files
dist/
build/
*.egg-info/


# Python test files
.coverage
.nox
.pytest_cache/
htmlcov/
pytest.ini
.tox/

# Test temporary files
tests/temp_*
tests/*.tmp
*.db-test

# Web server files
devops_maturity.db
src/web/static/devops-maturity.svg
